<mat-card>
    <mat-card-title>{{currentResource}} Capabilities</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <span *ngIf="rest !== undefined">
            <span *ngIf="rest.profile !== undefined && rest.profile.reference !=undefined">
                <span *ngIf="!rest.profile.reference.includes('hl7.org/fhir/Profile')">
                 <h3>FHIR Profile</h3>
                    <td-message label="{{rest.profile.reference}}" color="blue" icon="info">
                        <a td-message-actions mat-raised-button href="{{rest.profile.reference}}" target="_blank">VIEW PROFILE</a>
                    </td-message>
                </span>
            </span>
            <h3>Interactions</h3>
            <span *ngFor="let interaction of rest.interaction">

                <span *ngIf="interaction.code === 'read'">
                    <td-expansion-panel label="{{interaction.code}}">
                        <div class="md-padding">
                               Read the current state of the resource<br><br>
                                <td-message label="GET {{base}}/{{'{'}}id{{'}'}}" icon="info"></td-message>
                        </div>
                        <mat-card>
                            <mat-card-header><h4>Read Resource</h4></mat-card-header>
                            <mat-card-content>
                                <td-dynamic-forms #dynform1 [elements]="elements_id">
                                  <ng-template let-element ngFor [ngForOf]="elements_id">
                                    <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                                        <span *ngIf="control.touched || !control.pristine">
                                          <span *ngIf="control.hasError('required')">Required</span>
                                          <span *ngIf="control.hasError('min')">Min value: {{element.min}}</span>
                                          <span *ngIf="control.hasError('max')">Max value: {{element.max}}</span>
                                          <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
                                          <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
                                        </span>
                                    </ng-template>
                                  </ng-template>
                                </td-dynamic-forms>
                                </mat-card-content>
                            <mat-card-actions>
                                <td-message *ngIf="query!==undefined" [label]="query" color="blue" icon="search"></td-message>
                                <a mat-raised-button [disabled]="!(dynform1.valid && (elements_id.length >0))" color="accent" class="text-upper" (click)="onSearch_id()">
                                  <span>Search</span></a>
                                <a mat-button [disabled]="(elements.length === 0)" color="accent" class="text-upper" (click)="onClear()">
                                  <span>Clear</span></a>
                                <span *ngIf="progressBar">
                                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                </span>
                            </mat-card-actions>
                        </mat-card>
                        <span *ngIf="resource !== undefined || resourceString !== undefined">

                              <mat-card>
                                  <mat-card-title>Results</mat-card-title>
                                  <mat-card-subtitle>
                                      <span flex-auto fxLayoutAlign="space-between center">
                                          <span>
                                            <span>Results: </span>
                                            <b *ngIf="resource.entry !== undefined"> {{resource.entry.length}} / {{resource.total}}</b>
                                          </span>
                                          <span>
                                           <span *ngIf="resource.link !== undefined">
                                              <span *ngFor="let link of resource.link.slice().reverse()">
                                                <span *ngIf="link.relation ==='previous'">
                                                    <button mat-icon-button color="accent" (click)="onMore(link.url)"><mat-icon>skip_previous</mat-icon></button>
                                                </span>
                                                <span *ngIf="link.relation ==='next'">
                                                    <button mat-icon-button color="accent" (click)="onMore(link.url)"><mat-icon>skip_next</mat-icon></button>
                                                </span>
                                              </span>
                                              </span>
                                             </span>
                                          </span>
                                  </mat-card-subtitle>
                                  <mat-divider></mat-divider>
                                  <mat-card-content>
                                      <span *ngIf="format === 'jsonf'">
                                          <td-json-formatter [data]="resource" key="response" [levelsOpen]="8">
                                          </td-json-formatter>
                                      </span>
                                       <span *ngIf="format === 'json'">
                                          <td-highlight lang="json" [content]="resourceString">
                                          </td-highlight>
                                      </span>
                                     <span *ngIf="format === 'xml'">
                                          <td-highlight lang="xml" [content]="resourceString">
                                          </td-highlight>
                                      </span>


                                  </mat-card-content>
                              </mat-card>
                    </span>
                    </td-expansion-panel>
                </span>
                <span *ngIf="interaction.code === 'create'">
                    <td-expansion-panel label="{{interaction.code}}" >
                        <div class="md-padding">
                                Create a new resource with a server assigned id<br><br>
                                <td-message label="POST {{base}}"  icon="info"></td-message>
                        </div>
                    </td-expansion-panel>

                </span>
                <span *ngIf="interaction.code === 'update'">
                    <td-expansion-panel label="{{interaction.code}}">
                        <div class="md-padding">
                                Update an existing resource by its id (or create it if it is new)<br><br>
                                <td-message label="PUT {{base}}/{{'{'}}id{{'}'}}"  icon="info"></td-message>
                        </div>
                    </td-expansion-panel>
                </span>
                <span *ngIf="interaction.code === 'search-type'">
                    <td-expansion-panel (expanded)="onExpand()" (collapsed)="onCollapse()" label="{{interaction.code}}">
                        <div class="md-padding">
                                	Search the resource type based on some filter criteria<br><br>
                        <td-message label="GET {{base}}?{{'{'}}search parameters{{'}'}}"  icon="info"></td-message>
                        <table>
                            <thead>
                            <tr>
                                <th width="20%">Parameter Name</th>
                                <th width="60%">Details</th>
                                <th width="15%">Parameter Type</th>
                                <th width="5%"></th>
                            </tr>
                            </thead>
                            <tr *ngFor="let param of rest.searchParam">
                                <td>{{param.name}}</td>
                                <td>{{param.documentation}}</td>
                                <td>{{param.type}}</td>
                                <td>
                                    <button mat-icon-button color="accent" (click)="onAdd(param)"><mat-icon>add_circle</mat-icon></button>
                                </td>
                            </tr>
                        </table>
                                <span *ngIf="rest.searchInclude !== undefined">
                                   <td-expansion-panel (expanded)="onExpand()" (collapsed)="onCollapse()" label="Include Resources (and reverse includes)">
                                        <div class="md-padding">
                                            <table>
                                                 <thead>
                                                    <tr>
                                                        <th width="90%">Resource:path</th>
                                                        <th width="10%"></th>
                                                    </tr>
                                                </thead>
                                                 <tr *ngFor="let include of rest.searchInclude">
                                                    <td>{{include}}</td>
                                                    <td>
                                                        <button mat-icon-button disabled color="accent" (click)="onAdd(include)"><mat-icon>add_circle</mat-icon></button>
                                                    </td>
                                                 </tr>
                                            </table>
                                        </div>
                                   </td-expansion-panel>
                                </span>
                            <!-- also includ reverse includes when HAPI fixed -->
                            </div>
                        <mat-card>
                            <mat-card-header><h4>Search Resource</h4></mat-card-header>
                            <mat-card-content>
                                Use the table above to add search fields (above) to this form.
                                <td-dynamic-forms #dynform [elements]="elements">
                                  <ng-template let-element ngFor [ngForOf]="elements">
                                    <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                                        <span *ngIf="control.touched || !control.pristine">
                                          <span *ngIf="control.hasError('required')">Required</span>
                                          <span *ngIf="control.hasError('min')">Min value: {{element.min}}</span>
                                          <span *ngIf="control.hasError('max')">Max value: {{element.max}}</span>
                                          <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
                                          <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
                                        </span>
                                    </ng-template>
                                  </ng-template>
                                </td-dynamic-forms>
                                </mat-card-content>
                            <mat-card-actions>
                                <td-message *ngIf="query!==undefined" [label]="query" color="blue" icon="search"></td-message>
                                <a mat-raised-button [disabled]="!(dynform.valid && (elements.length >0))" color="accent" class="text-upper" (click)="onSearch()">
                                  <span>Search</span></a>
                                <a mat-button [disabled]="(elements.length === 0)" color="accent" class="text-upper" (click)="onClear()">
                                  <span>Clear</span></a>
                                <span *ngIf="progressBar">
                                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                </span>
                            </mat-card-actions>
                        </mat-card>
                        <span *ngIf="resource !== undefined || resourceString !== undefined">

                              <mat-card>
                                  <mat-card-title>Results</mat-card-title>
                                  <mat-card-subtitle>
                                      <span flex-auto fxLayoutAlign="space-between center">
                                          <span>
                                            <span>Results: </span>
                                            <b *ngIf="resource.entry !== undefined"> {{resource.entry.length}} / {{resource.total}}</b>
                                          </span>
                                          <span>
                                           <span *ngIf="resource.link !== undefined">
                                              <span *ngFor="let link of resource.link.slice().reverse()">
                                                <span *ngIf="link.relation ==='previous'">
                                                    <button mat-icon-button color="accent" (click)="onMore(link.url)"><mat-icon>skip_previous</mat-icon></button>
                                                </span>
                                                <span *ngIf="link.relation ==='next'">
                                                    <button mat-icon-button color="accent" (click)="onMore(link.url)"><mat-icon>skip_next</mat-icon></button>
                                                </span>
                                              </span>
                                              </span>
                                             </span>
                                          </span>
                                  </mat-card-subtitle>
                                  <mat-divider></mat-divider>
                                  <mat-card-content>
                                      <span *ngIf="format === 'jsonf'">
                                          <td-json-formatter [data]="resource" key="response" [levelsOpen]="8">
                                          </td-json-formatter>
                                      </span>
                                       <span *ngIf="format === 'json'">
                                          <td-highlight lang="json" [content]="resourceString">
                                          </td-highlight>
                                      </span>
                                     <span *ngIf="format === 'xml'">
                                          <td-highlight lang="xml" [content]="resourceString">
                                          </td-highlight>
                                      </span>


                                  </mat-card-content>
                              </mat-card>
                    </span>
                </td-expansion-panel>
                </span>
            </span>
            <h3>Operations</h3>
            <span *ngFor="let extension of rest.extension">
                <span *ngIf="extension.url === 'http://hl7.org/fhir/4.0/StructureDefinition/extension-CapabilityStatement.rest.operation'">
                    <td-expansion-panel (expanded)="onExpand()" (collapsed)="onCollapse()" label="{{extension.extension[0].valueString}}">
                                        <div class="md-padding">
                                            <span *ngIf="extension.extension.length>1">
                                                <b>Operation Definition</b> {{extension.extension[1].valueReference.reference}}

                                                    <div *ngIf="extension.extension[0].valueString === 'validate'">
                                                        <div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
                                                    <mat-card>
                                                        <mat-card-content>
                                                            <div class="row">
                                                                <td-file-input class="push-left-sm push-right-sm" #fileInput (select)="selectEvent($event)" color="primary" [(ngModel)]="files" >
                                                                    <mat-icon>folder</mat-icon>
                                                                    <span class="text-upper">Browse...</span>
                                                                  </td-file-input>
                                                            </div>
                                                            <div class="row">
                                                                    <mat-radio-group>
                                                                      <mat-radio-button value="1" [checked]="json" (click)="swapFormat(true)">JSON</mat-radio-button>
                                                                      <mat-radio-button value="2" [checked]="!json" (click)="swapFormat(false)">XML</mat-radio-button>
                                                                    </mat-radio-group>
                                                            </div>

                                                        <td-code-editor [value]="input" [(ngModel)]="model" style="height: 400px" theme="vs" flex [language]="json ? 'json' : 'xml'" ></td-code-editor>
                                                  </mat-card-content>
                                                        <mat-card-actions>

                                                                <button mat-raised-button color="accent" class="text-upper" (click)="validate()">Validate</button>

                                                        </mat-card-actions>
                                                        <span *ngIf="operationOutcome !== undefined">
                                                              <span *ngIf="operationOutcome.issue === undefined ">
                                                             <td-message label="Info" sublabel="No validation issues returned" color="accent" icon="info"></td-message>
                                                             </span>
                                                             <span *ngIf="error !== undefined ">
                                                                <td-message label="Error!" [sublabel]="error.message" color="warn" icon="error"></td-message>
                                                             </span>
                                                            <span *ngIf="operationOutcome.issue !== undefined">
                                                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">



                                                                <ng-container matColumnDef="severity">
                                                                  <th mat-header-cell *matHeaderCellDef> Severity </th>
                                                                  <td mat-cell *matCellDef="let issue">
                                                                       {{issue.severity}}</td>
                                                                </ng-container>

                                                                <ng-container matColumnDef="code">
                                                                  <th mat-header-cell *matHeaderCellDef> Code </th>
                                                                  <td mat-cell *matCellDef="let issue">
                                                                      {{issue.code}} </td>
                                                                </ng-container>

                                                                <ng-container matColumnDef="diagnostic">
                                                                  <th mat-header-cell *matHeaderCellDef width="80%"> Diagnositics </th>
                                                                  <td mat-cell *matCellDef="let issue">
                                                                        {{issue.diagnostics}}
                                                                  </td>
                                                                </ng-container>



                                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                              </table>
                                                            </span>


                                                        </span>
                                                    </mat-card>
                                                         </div>
                                            </div>

                                            </span>
                                        </div>
                    </td-expansion-panel>

                </span>

            </span>
        </span>
    </mat-card-content>
</mat-card>


