
<span *ngIf="conceptMap !== undefined">
    <mat-card>
        <mat-card-header><h2>Concept Map - {{conceptMap.name}}</h2></mat-card-header>
        <mat-card-content>
          <div class="mat-card-content"
               fxLayout
               fxLayout.xs="column"
               fxLayoutAlign="center"
               fxLayoutGap="10px"
               fxLayoutGap.xs="0">
            <div class="mat-body-1" fxFlex="50%">
                <b>Name</b> {{conceptMap.name}}
            </div>
            <div class="mat-body-1" fxFlex="50%">

            </div>
          </div>
             <div class="mat-card-content"
                  fxLayout
                  fxLayout.xs="column"
                  fxLayoutAlign="center"
                  fxLayoutGap="10px"
                  fxLayoutGap.xs="0">
              <div class="mat-body-1" fxFlex="25%">
                <b>Status</b> {{conceptMap.status}}
              </div>
                  <div class="mat-body-1"  fxFlex="25%">
                    <b>Date</b> {{conceptMap.date | date: 'dd-MMM-yyyy'}}
              </div>
               <div class="mat-body-1" fxFlex="25%">
                 <b>Publisher</b> {{conceptMap.publisher}}
               </div>
               <div class="mat-body-1" fxFlex="25%">

               </div>
          </div>
          <div class="mat-card-content" ><b>Description</b> {{conceptMap.description}}</div>
            <div class="mat-card-content" *ngIf="conceptMap.sourceReference !== null">
                 <a mat-raised-button [href]="conceptMap.sourceReference.reference" target="_blank" [matTooltip]="conceptMap.sourceReference.reference" color="primary"> Source ValueSet</a> &nbsp; {{conceptMap.sourceReference.reference}}
            </div>
             <div class="mat-card-content" *ngIf="conceptMap.targetReference !== null">
                 <a mat-raised-button [href]="conceptMap.targetReference.reference" target="_blank" [matTooltip]="conceptMap.targetReference.reference" color="primary"> Target ValueSet</a> &nbsp; {{conceptMap.targetReference.reference}}
            </div>

        </mat-card-content>
        <mat-card-actions>
            <button mat-button placement="top" (click)="view(conceptMap)"  color="accent"><mat-icon>code</mat-icon>
            View FHIR Resource</button>
        </mat-card-actions>
    </mat-card>

<!--
<mat-card>
  <div class="mat-card-content"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="mat-body-1" fxFlex="50%">
      <div cdkDropList
           #todoList="cdkDropList"
           [cdkDropListData]="valueSet1"
           [cdkDropListConnectedTo]="[doneList]"
           class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let value of valueSet1" cdkDrag>{{value}}</div>
      </div>
    </div>
    <div class="mat-body-1" fxFlex="50%">
      <div>
        <h2>NHS Marital Status</h2>
        <div cdkDropList
             #doneList="cdkDropList"
             [cdkDropListData]="valueSet2"
             [cdkDropListConnectedTo]="[todoList]"
             class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let value of valueSet2" cdkDrag>{{value}}</div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
-->
    <span *ngFor="let concept of conceptMap.group">
    <mat-card>
        <mat-card-content>


                            <div class="mat-card-content"
                                 fxLayout
                                 fxLayout.xs="column"
                                 fxLayoutAlign="center"
                                 fxLayoutGap="10px"
                                 fxLayoutGap.xs="0">
                                <div class="mat-body-1" fxFlex="50%">
                                     <a mat-raised-button [href]="concept.source" target="_blank" [matTooltip]="concept.source" color="primary"> From CodeSystem</a> <br> {{concept.source}}
                                </div>
                                <div class="mat-body-1" fxFlex="50%">
                                    <a mat-raised-button [href]="concept.target" target="_blank" [matTooltip]="concept.target" color="primary"> To CodeSystem</a> <br> {{concept.target}}
                                </div>
                            </div>

                            <app-concept-map-element [elements]="concept.element"></app-concept-map-element>
    <!--
                            <table cellpadding="0" cellspacing="0">
                                <tr *ngFor="let element of concept.element; index as i" cellpadding="0" cellspacing="0">
                                    <td cellpadding="0" cellspacing="0">
                                        <table  border="0" cellpadding="0" cellspacing="0">
                                            <thead *ngIf="i==0">
                                            <th><b>Code</b></th>
                                            <th><b>Equivalence</b></th>
                                            <th><b>Target Code</b></th>
                                            <th><b>	Comments</b></th>
                                            </thead>
                                            <tr *ngFor="let target of element.target" cellpadding="0" cellspacing="0">
                                                <td> {{element.code}}</td>
                                                <td>{{target.equivalence}}</td>
                                                <td>{{target.code}}</td>
                                                <td>{{target.comment}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

    -->


            </mat-card-content>

        </mat-card>
    </span>
    </span>
