
      <td-expansion-panel>
        <ng-template td-expansion-panel-header>
          <mat-toolbar color="accent">
            <span><small><i>{{item.linkId}}</i></small> - {{item.text}}</span>

          </mat-toolbar>
        </ng-template>
      <div class="mat-card-content"
           fxLayout
           fxLayout.xs="column"
           fxLayoutAlign="left"
           fxLayoutGap="10px"
           fxLayoutGap.xs="0">
        <div class="mat-body-1" fxFlex="100%">
          <mat-chip-list class="mat-chip">
            <mat-chip color="accent" selected="true" *ngIf="item.repeats">repeats
            </mat-chip>
            <mat-chip color="accent" selected="true" *ngIf="item.required">required
            </mat-chip>
          </mat-chip-list>

        <span *ngIf="item.code !== undefined" >
 <mat-list>
            <mat-list-item *ngFor="let code of item.code">
               <mat-icon matListAvatar color="accent">explore</mat-icon>
              &nbsp; Code: &nbsp;<b>{{code.display}}</b>
              (Concept:&nbsp; <i>{{code.code}}&nbsp; System:&nbsp; {{code.system}})</i>
                </mat-list-item>
 </mat-list>
            </span>

        </div>
      </div>
        <div class="mat-card-content"
             fxLayout
             fxLayout.xs="column"
             fxLayoutAlign="left"
             fxLayoutGap="10px"
             fxLayoutGap.xs="0">
          <div *ngIf="item.enableWhen !== undefined" class="mat-body-1" fxFlex="100%">
            <mat-chip color="accent" selected="true">enableWhen
            </mat-chip>
            <span *ngFor="let enable of item.enableWhen">
                 Question {{enable.question}} has answer of
                  <span *ngIf="enable.answerCoding !== undefined"> <i>{{enable.answerCoding.display}} ({{enable.answerCoding.code}})</i> </span>
                </span>
          </div>
        </div>
        <div class="mat-card-content"
             fxLayout
             fxLayout.xs="column"
             fxLayoutAlign="center"
             fxLayoutGap="10px"
             fxLayoutGap.xs="0">
          <div class="mat-body-1" fxFlex="40%">
            <mat-list>
              <mat-list-item>
                <mat-icon matListAvatar color="accent">{{getIcon(item)}}</mat-icon>
                <h3 matLine>{{item.type}}</h3>
                <span *ngFor="let ext of item.extension">
                  <span *ngIf="ext.valueCode !== undefined"><a mat-raised-button color="primary" [href]="getProfile(item.extension)" target="_blank" [matTooltip]="getProfile(item.extension)" color="primary"> {{ext.valueCode}}</a></span>
              </span>
                <span *ngIf="item.options !== undefined">
                  <a mat-stroked-button (click)="valueSetClick(item.options.reference)" [matTooltip]="item.options.reference" color="primary"> ValueSet</a>

                </span>
              </mat-list-item>
            </mat-list>
          </div>

            <div class="mat-body-1" fxFlex="50%">
              <span *ngIf="item.options !== undefined">
                <a [href]="item.options.reference" target="_blank">{{item.options.reference}}</a>
              </span>
              <span *ngIf="item.extension !== undefined">
              <span *ngFor="let ext of item.extension">
                 <span *ngIf="ext.url === 'http://hl7.org/fhir/StructureDefinition/designNote'">
                   <!-- this should be a markdown compontent -->
                   <td-markdown [content]="getMarkdown(ext.valueMarkdown)"></td-markdown>
                 </span>
              </span>
              </span>
              <span *ngIf="item.definition !== undefined">
                {{item.definition}}
              </span>


            </div>


          <div class="mat-body-1" fxFlex="10%">
            <button mat-button (click)="select(item)"  color="accent"><mat-icon>code</mat-icon>
              Item</button>
          </div>
        </div>
        <span *ngIf="item.option !== undefined">
          <app-questionnaire-item-option [options]="item.option"> </app-questionnaire-item-option>
        </span>
          <br>
        <span *ngIf="item.item !== undefined">
        <div class="mat-card-content"
             fxLayout
             fxLayout.xs="column"
             fxLayoutAlign="center"
             fxLayoutGap="10px"
             fxLayoutGap.xs="0">
          <div class="item item-1" fxFlex="5%">
            <!--<mat-icon>subdirectory_arrow_right</mat-icon>-->
            </div>
          <div class="item item-2" fxFlex="95%">
              <span *ngFor="let subitem of item.item">
                <td-expansion-panel-group multi="true" #panelGroup>
                      <app-questionnaire-item [item]="subitem" [depth]="depth+1"></app-questionnaire-item>
                </td-expansion-panel-group>
              </span>
          </div>

        </div>
          </span>

      </td-expansion-panel>

