<mat-card>
  <mat-card-header>
    <h3>Observation Definition (FHIR R4)</h3>
  </mat-card-header>
  <div class="mat-card-content"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="mat-body-1" fxFlex="2%">

    </div>
    <div class="mat-body-1" fxFlex="48%">
      <td-search-input  placeholder="Name" [(ngModel)]="searchInputName" [showUnderline]="true" [debounce]="500" (searchDebounce)="search($event,undefined)" (search)="search($event,undefined)" (clear)="searchInputName = ''">
      </td-search-input>
    </div>
    <div class="mat-body-1" fxFlex="2%">

    </div>
    <div class="mat-body-1" fxFlex="46%">
      <td-search-input  placeholder="Code" [(ngModel)]="searchInputCode" [showUnderline]="true" [debounce]="500" (searchDebounce)="search(undefined, $event)" (search)="search(undefined, $event)" (clear)="searchInputCode = ''">
      </td-search-input>
    </div>
    <div class="mat-body-1" fxFlex="2%">

    </div>
  </div>

  <table fxFill="100" mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let observationDefinition"> {{observationDefinition.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef width="20%"> Name </th>
      <td mat-cell *matCellDef="let observationDefinition">
        <span *ngIf="observationDefinition.code !== undefined && observationDefinition.code.coding !== undefined && observationDefinition.code.coding.length>0">
          <b>{{observationDefinition.code.coding[0].display}}</b>
          <br>
          {{observationDefinition.code.coding[0].code}}
          </span>

      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef width="20%"> Category </th>
      <td mat-cell *matCellDef="let observationDefinition">
        <span *ngIf="observationDefinition.category !== undefined">
          <span *ngFor="let category of observationDefinition.category">
          <span *ngIf="category.coding !== undefined && category.coding.length>0">
          <b>{{category.coding[0].display}}</b>
          <br>
          {{category.coding[0].code}}
          </span>
          </span>
        </span>

      </td>
    </ng-container>

    <ng-container matColumnDef="datatype" width="10%">
      <th mat-header-cell *matHeaderCellDef> Datatype(s) </th>
      <td mat-cell *matCellDef="let observationDefinition">
        <span *ngFor="let type of observationDefinition.permittedDataType">
          {{type}}
          <br>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="valueset" width="35%">
      <th mat-header-cell *matHeaderCellDef> ValueSet </th>
      <td mat-cell *matCellDef="let observationDefinition">
        <span *ngIf="observationDefinition.validCodedValueSet != undefined">

           <button mat-icon-button color="accent"  matTooltip="{{observationDefinition.validCodedValueSet.reference}}" (click)="selectValueSet(observationDefinition)">
             <mat-icon>assignment</mat-icon>
          {{observationDefinition.validCodedValueSet.display}}

           </button>
        </span>
      </td>

    </ng-container>


    <ng-container matColumnDef="units" width="10%">
      <th mat-header-cell *matHeaderCellDef> Units </th>
      <td mat-cell *matCellDef="let observationDefinition">
          <span *ngIf="observationDefinition.quantitativeDetails !== undefined && observationDefinition.quantitativeDetails.unit !== undefined">

            <span *ngIf="observationDefinition.quantitativeDetails.unit.coding !== undefined && observationDefinition.quantitativeDetails.unit.coding.length>0">
              <b>{{observationDefinition.quantitativeDetails.unit.coding[0].code}} </b> ({{observationDefinition.quantitativeDetails.unit.coding[0].display}})
          </span>
          </span>
      </td>
    </ng-container>


    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef width="8%"> View </th>
      <td mat-cell *matCellDef="let observationDefinition">
        <button mat-icon-button color="accent"  matTooltip="View NamingSystem" (click)="view(observationDefinition)"><mat-icon>perm_data_setting</mat-icon></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef width="5%">FHIR</th>
      <td mat-cell *matCellDef="let observationDefinition">  <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(observationDefinition)"><mat-icon>code</mat-icon></button>  </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>

