<mat-card>
  <mat-card-header>
    <h3>Observation Definition</h3>
  </mat-card-header>
  <div class="mat-card-content"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="mat-body-1" fxFlex="2%">

    </div>
    <div class="mat-body-1" fxFlex="48%">
      <td-search-input  placeholder="Name" [(ngModel)]="searchInputName" [showUnderline]="true" [debounce]="500" (searchDebounce)="search($event,undefined)" (search)="search($event,undefined)" (clear)="searchInputName = ''">
      </td-search-input>
    </div>
    <div class="mat-body-1" fxFlex="2%">

    </div>
    <div class="mat-body-1" fxFlex="46%">
      <td-search-input  placeholder="Code" [(ngModel)]="searchInputUrl" [showUnderline]="true" [debounce]="500" (searchDebounce)="search(undefined, $event)" (search)="search(undefined, $event)" (clear)="searchInputUrl = ''">
      </td-search-input>
    </div>
    <div class="mat-body-1" fxFlex="2%">

    </div>
  </div>

  <table fxFill="100" mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let namingSystem"> {{namingSystem.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef width="30%"> Name </th>
      <td mat-cell *matCellDef="let namingSystem"> <b>{{namingSystem.name}}</b>
        <br>
        {{namingSystem.url}}
      </td>
    </ng-container>


    <ng-container matColumnDef="description" width="35%">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let namingSystem"> {{namingSystem.description}} </td>
    </ng-container>


    <ng-container matColumnDef="type" width="40%">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let namingSystem">
         <span *ngIf="namingSystem.type !== undefined">
                    {{namingSystem.type.coding[0].display}}
         </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="kind">
      <th mat-header-cell *matHeaderCellDef> Kind </th>
      <td mat-cell *matCellDef="let namingSystem"> {{namingSystem.kind}} </td>
    </ng-container>

    <ng-container matColumnDef="publisher"  width="10%">
      <th mat-header-cell *matHeaderCellDef> Publisher </th>
      <td mat-cell *matCellDef="let namingSystem"> {{namingSystem.publisher}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef  width="5%"> Status </th>
      <td mat-cell *matCellDef="let namingSystem"> {{namingSystem.status}} </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef width="8%"> View </th>
      <td mat-cell *matCellDef="let namingSystem">
        <button mat-icon-button color="accent"  matTooltip="View NamingSystem" (click)="view(namingSystem)"><mat-icon>perm_data_setting</mat-icon></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef width="5%">FHIR</th>
      <td mat-cell *matCellDef="let namingSystem">  <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(namingSystem)"><mat-icon>code</mat-icon></button>  </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>

