<span *ngIf="structureDefinition !== undefined">
    <mat-card>
        <mat-card-header><h2>StructureDefinition - {{structureDefinition.name}}</h2></mat-card-header>
        <mat-card-content>


          <div class="mat-card-content"
               fxLayout
               fxLayout.xs="column"
               fxLayoutAlign="center"
               fxLayoutGap="10px"
               fxLayoutGap.xs="0">
            <div class="mat-body-1" fxFlex="50%">
                <b>Name</b> {{structureDefinition.name}}
            </div>
            <div class="mat-body-1" fxFlex="50%">
                <b>Url</b> &nbsp; <a class="mat-body-2" [href]="structureDefinition.url" target="_blank"> {{structureDefinition.url}} </a>
            </div>
          </div>
             <div class="mat-card-content"
                  fxLayout
                  fxLayout.xs="column"
                  fxLayoutAlign="center"
                  fxLayoutGap="10px"
                  fxLayoutGap.xs="0">
            <div class="mat-body-1" fxFlex="25%">
              <b>Version</b> {{structureDefinition.version}}
            </div>
            <div class="mat-body-1" fxFlex="25%">
              <b>Status</b> {{structureDefinition.status}}
            </div>
                  <div class="mat-body-1"  fxFlex="25%">
                    <b>Date</b> {{structureDefinition.date | date: 'dd-MMM-yyyy'}}
            </div>
            <div class="mat-body-1"  fxFlex="25%">
              <span *ngIf="structureDefinition.experimental"><b>Experimental</b></span>
            </div>
          </div>

          <div class="mat-card-content" ><b>Description</b> {{structureDefinition.description}}</div>
          <div class="mat-card-content mat-body-1" ><b>Publisher</b> {{structureDefinition.publisher}}</div>
          <div class="mat-card-content mat-body-1" ><b>Copyright</b> {{structureDefinition.copyright}}</div>



            <div class="mat-card-content"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0">
            <div class="mat-body-1 scroll" fxFlex="50%">

            <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <li class="mat-tree-node">
                  <button mat-icon-button disabled></button>
                     <button  mat-button (click)="selectNode(node)">
                    {{node.name}}
                    <span *ngIf="node.element.sliceName != null">&nbsp; [{{node.element.sliceName}}]</span>
                     </button>
                </li>
              </mat-tree-node>

              <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
                <li>
                  <div class="mat-tree-node">
                        <button mat-icon-button matTreeNodeToggle
                                [attr.aria-label]="'toggle ' + node.filename">
                          <mat-icon class="mat-icon-rtl-mirror">
                            {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                          </mat-icon>
                        </button>
                      <button  mat-button (click)="selectNode(node)">

                            {{node.name}}
                            <span *ngIf="node.element.sliceName != null">&nbsp;[{{node.element.sliceName}}]</span>

                      </button>
                    </div>
                  <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </li>
              </mat-nested-tree-node>
            </mat-tree>
        </div>
               <div class="mat-body-1 fixed" fxFlex="50%">

                   <span *ngIf="element!== undefined">

                       <h2>{{element.path}} {{element.sliceName}} </h2>
                       <b>Description</b>&nbsp;
                       {{element.short}}
                       <br><br>
                       <b>Cardinality</b>&nbsp;
                       {{element.min}}..{{element.max}}
                        <br><br>
                       <b>Type</b>&nbsp;
                       <span *ngFor="let type of element.type">
                              <a mat-stroked-button [href]="type.profile" target="_blank" [matTooltip]="type.profile" color="primary"> {{type.code}}</a>
                           <br><i>{{type.profile}}</i>
                           <br>
                       </span>
                       <br>
                       <b>Alias</b>&nbsp;
                       <span *ngFor="let alias of element.alias">{{alias}}</span>
                        <br><br>
                        <span *ngIf="element.fixedCode !== undefined">
                            <b>Fixed Code</b>&nbsp;{{element.fixedCode}}<br><br>
                        </span>
                       <span *ngIf="element.slicing !== undefined">
                           <b>Slicing:</b>&nbsp;

                           <b>Discriminator</b>&nbsp;
                           <span *ngFor="let des of element.slicing.discriminator">
                               <i>Type</i>&nbsp;{{des.type}}
                               <i>Path</i>&nbsp;{{des.path}}
                           </span>
                             <b>Ordered</b>&nbsp;{{element.slicing.ordered}}
                             <b>Rules</b>&nbsp;{{element.slicing.rules}}
                           <br><br>
                       </span>

                       <span *ngIf="element.definition !== undefined">
                            <b>Definition</b>
                            <td-markdown [content]="getMarkdown(element.definition)">
                            </td-markdown>
                        </span>

                        <span *ngIf="element.comment !== undefined">
                            <b>Comment</b>
                            <td-markdown [content]="getMarkdown(element.comment)">
                            </td-markdown>
                        </span>
  <button mat-icon-button color="accent"  matTooltip="View Element" (click)="select(element)">Element <mat-icon>code</mat-icon></button>

                   </span>

               </div>
            </div>
        </mat-card-content>
       <mat-card-actions>
          <button mat-button placement="top" (click)="view(structureDefinition)"  color="accent"><mat-icon>code</mat-icon>
              View FHIR Resource</button>
       </mat-card-actions>
    </mat-card>

</span>


