<mat-card>
  <mat-card-header>
    <h3>Code System</h3>
  </mat-card-header>
  <div class="mat-card-content"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="mat-body-1" fxFlex="2%">

    </div>
    <div class="mat-body-1" fxFlex="48%">
      <td-search-input  placeholder="Name" [(ngModel)]="searchInputName" [showUnderline]="true" [debounce]="500" (searchDebounce)="search($event,undefined)" (search)="search($event,undefined)" (clear)="searchInputName = ''">
      </td-search-input>
    </div>
    <div class="mat-body-1" fxFlex="2%">

    </div>
    <div class="mat-body-1" fxFlex="46%">
      <td-search-input  placeholder="Url" [(ngModel)]="searchInputUrl" [showUnderline]="true" [debounce]="500" (searchDebounce)="search(undefined, $event)" (search)="search(undefined, $event)" (clear)="searchInputUrl = ''">
      </td-search-input>
    </div>
    <div class="mat-body-1" fxFlex="2%">

    </div>
  </div>

  <table fxFill="100" mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let codeSystem"> {{codeSystem.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef width="25%"> Name </th>
      <td mat-cell *matCellDef="let codeSystem"> <b>{{codeSystem.name}}</b>
      </td>
    </ng-container>

    <ng-container matColumnDef="publisher">
      <th mat-header-cell *matHeaderCellDef  width="10%"> Publisher </th>
      <td mat-cell *matCellDef="let codeSystem"> {{codeSystem.publisher}} </td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef  width="10%"> Url </th>
      <td mat-cell *matCellDef="let codeSystem"> {{codeSystem.url}} </td>
    </ng-container>

    <ng-container matColumnDef="description"  width="60%">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let codeSystem"> {{codeSystem.description}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef  width="5%"> Status </th>
      <td mat-cell *matCellDef="let codeSystem"> {{codeSystem.status}} </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef width="8%"> View </th>
      <td mat-cell *matCellDef="let codeSystem">
        <button mat-icon-button color="accent"  matTooltip="View CodeSystem" (click)="view(codeSystem)"><mat-icon>description</mat-icon></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef width="5%">FHIR</th>
      <td mat-cell *matCellDef="let codeSystem">  <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(codeSystem)"><mat-icon>code</mat-icon></button>  </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
