<span *ngIf="questionnaire !== undefined">
  
  <mat-card>
        <mat-card-header><h2>Questionnaire - {{questionnaire.name}}</h2></mat-card-header>
        <mat-card-content>


          <div class="mat-card-content"
               fxLayout
               fxLayout.xs="column"
               fxLayoutAlign="center"
               fxLayoutGap="10px"
               fxLayoutGap.xs="0">
            <div class="mat-body-1" fxFlex="50%">
                <b>Name</b> {{questionnaire.name}}
            </div>
            <div class="mat-body-1" fxFlex="50%">
              <b>Url</b> &nbsp; <a class="mat-body-2" [href]="questionnaire.url" target="_blank"> {{questionnaire.url}} </a>
            </div>
          </div>
             <div class="mat-card-content"
                  fxLayout
                  fxLayout.xs="column"
                  fxLayoutAlign="center"
                  fxLayoutGap="10px"
                  fxLayoutGap.xs="0">
            <div class="mat-body-1" fxFlex="25%">
              <b>Version</b> {{questionnaire.version}}
            </div>
            <div class="mat-body-1" fxFlex="25%">
              <b>Status</b> {{questionnaire.status}}
            </div>
                  <div class="mat-body-1"  fxFlex="25%">
                    <b>Date</b> {{questionnaire.date | date: 'dd-MMM-yyyy'}}
            </div>
            <div class="mat-body-1"  fxFlex="25%">
              <span *ngIf="questionnaire.experimental"><b>Experimental</b></span>
            </div>
          </div>
          <div class="mat-card-content" >{{questionnaire.description}}</div>
          <div class="mat-card-content mat-body-1" ><b>Publisher</b> {{questionnaire.publisher}}</div>
          <div class="mat-card-content mat-body-1" ><b>Copyright</b> {{questionnaire.copyright}}</div>

  
  <span *ngFor="let item of questionnaire.item">
    <app-questionnaire-item [item]="item" [depth]="0"></app-questionnaire-item>
  </span>
          </mat-card-content>
      <mat-card-actions>
          <button mat-button placement="top" (click)="view(questionnaire)"  color="accent"><mat-icon>code</mat-icon>
              View FHIR Resource</button>
       </mat-card-actions>
    </mat-card>
</span>
